<div class="container" style="padding-left: 2rem!important;padding-right: 2rem!important;height: 100%;">
  <label class="fs-3 fw-bold text-uppercase mb-2">Dashboard</label>
  <p class="fs-6 fw-light text-muted mb-4">Visualização de indicadores individuais e comparativos, com dados consolidados.</p>
  <div class="d-flex mb-3" style="justify-content:space-between">
    <mat-accordion class="dash-card">
      <mat-expansion-panel hideToggle >
        <mat-expansion-panel-header>
          <div class="d-flex col-8 dash-card-title">
            <mat-icon class="material-icons-outlined" style="color:rgb(67, 49, 145)">highlight</mat-icon>
            <label class="ps-2">LUMINÁRIAS</label>
          </div>
          <div class="d-flex col-4 justify-content-between">
            <span class="text-center total-card-info justify-content-center">125</span>
            <mat-icon>chevron_right</mat-icon>
          </div>
        </mat-expansion-panel-header>
        <mat-card-content class="d-flex dash-card-total-content">
          <div class="d-flex col-12 justify-content-between pt-2">
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">INSTALADAS</label>
                </div>
              </div>
            </div>
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">EM ESTOQUE</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex col-12 justify-content-between mt-3">
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">ATIVAS</label>
                </div>
              </div>
            </div>
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">DEFEITUOSAS</label>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="dash-card">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <div class="d-flex col-8 dash-card-title">
            <mat-icon style="color:rgb(67, 49, 145)">list_alt</mat-icon>
            <label class="ps-2">O. SERVIÇO</label>
          </div>
          <div class="d-flex col-4 justify-content-between">
            <span class="text-center total-card-info justify-content-center">125</span>
            <mat-icon>chevron_right</mat-icon>
          </div>
        </mat-expansion-panel-header>
        <mat-card-content class="d-flex dash-card-total-content">
          <div class="d-flex col-12 justify-content-between pt-2">
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">EM ABERTO</label>
                </div>
              </div>
            </div>
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">ATRASADAS</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex col-12 justify-content-between mt-3">
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">CONCLUÍDAS</label>
                </div>
              </div>
            </div>
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">CANCELADAS</label>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="dash-card">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <div class="d-flex col-8 dash-card-title">
            <mat-icon class="material-icons-outlined" style="color:rgb(67, 49, 145)">report</mat-icon>
            <label class="ps-2">ERROS</label>
          </div>
          <div class="d-flex col-4 justify-content-between">
            <span class="text-center total-card-info justify-content-center">125</span>
            <mat-icon>chevron_right</mat-icon>
          </div>
        </mat-expansion-panel-header>
        <mat-card-content class="d-flex dash-card-total-content">
          <div class="d-flex col-12 justify-content-between pt-2">
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">EM ABERTO</label>
                </div>
              </div>
            </div>
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">RESOLVIDOS</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex col-12 justify-content-between mt-3">
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">SINAL</label>
                </div>
              </div>
            </div>
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">PROGRAMAÇÃO</label>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="dash-card">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <div class="d-flex col-8 dash-card-title">
            <mat-icon style="color:rgb(67, 49, 145)">price_check</mat-icon>
            <label class="ps-2">R.O.I</label>
          </div>
          <div class="d-flex col-4 justify-content-between">
            <span class="text-center total-card-info justify-content-center">125</span>
            <mat-icon>chevron_right</mat-icon>
          </div>
        </mat-expansion-panel-header>
        <mat-card-content class="d-flex dash-card-total-content">
          <div class="d-flex col-12 justify-content-between pt-2">
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">INVESTIMENTO</label>
                </div>
              </div>
            </div>
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">DECORRIDOS</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex col-12 justify-content-between mt-3">
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">LUMINÁRIAS</label>
                </div>
              </div>
            </div>
            <div class="d-flex col-6 text-start align-items-center">
              <mat-icon class="col-3">arrow_right</mat-icon>
              <div class="d-flex col-9" style="flex-direction: column;">
                <div class="d-flex col-12">
                  <label class="dash-card-label-title">83</label>
                </div>
                <div class="d-flex col-12">
                  <label class="dash-card-label-info">GASTO MÉDIO</label>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="d-flex col-12" style="justify-content:space-between; height:75%!important">
    <mat-card class="d-flex col-auto dash-card-lg" style="flex-direction: column; overflow: auto">
      <mat-card-title-group class="d-flex col-12 justify-content-center mb-0">
        <mat-card-title class="d-flex col-12 dash-card-title" style="align-items:center;">
          <mat-icon class="material-icons-outlined" style="color:rgb(67, 49, 145)">analytics</mat-icon>
          <label class="ps-2">COMPARAÇÃO DE CONSUMO E ECONOMIA</label>
        </mat-card-title>
        <mat-card-subtitle class="d-flex col-12">Compare informações de consumo e economia de energia entre luminárias
          LED e COMUNS.</mat-card-subtitle>
        <mat-card-subtitle class="d-flex justify-content-center col-12 mb-2 mt-3">
          <mat-button-toggle-group appearance="legacy" name="typeChart" style="font-size: small;">
            <mat-button-toggle class="col-6" value="consumo" (click)="this.consumeTypeChart = true">Consumo
            </mat-button-toggle>
            <mat-button-toggle class="col-6" value="economia" (click)="this.consumeTypeChart = false">Economia
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="d-flex dash-card-total-content">
        <google-chart *ngIf="this.consumeTypeChart" [options]="googlechartsoptions" [data]="myDataConsume"
          [columns]="chartColumnsConsume" [type]="myType"
          [title]="titleConsume">
        </google-chart>
        <google-chart *ngIf="!this.consumeTypeChart" [options]="googlechartsoptions" [data]="myDataEconomy"
          [columns]="chartColumnsEconomy" [type]="myType"
          [title]="titleEconomy">
        </google-chart>
      </mat-card-content>
    </mat-card>
    <mat-card class="d-flex col-auto dash-card-lg" style="flex-direction: column; overflow: auto">
      <mat-card-title-group>
        <mat-card-title class="dash-card-title" style="align-items:center;">
          <mat-icon class="material-icons-outlined" style="color:rgb(67, 49, 145)">explore</mat-icon>
          <label class="ps-2">LOCALIZAÇÃO E STATUS DE LUMINÁRIAS</label>
        </mat-card-title>
        <mat-card-subtitle>Passe o mouse sobre o ícone de cada luminária no mapa para ver mais informações.</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="d-flex dash-card-total-content">
        <div style="height:18rem;" leaflet [leafletOptions]="options" 
          [leafletLayers]="layers" [leafletMarkerCluster]="markerClusterData"
          [leafletMarkerClusterOptions]="markerClusterOptions">
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
