.container-login {
  width: 90%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-default {
  padding: 30px 35px;
  border-radius: 12px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 2%), 0px 1px 30px 20px rgb(0 0 0 / 4%);
}

.sm-title {
  font-family: "Poppins";
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
}
.lg-title {
  font-family: "Poppins";
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

.auth-form {
  padding-top: 30px;
  width: 100%;
  .field-group {
    width: 100%;

  }
  label {
    font-family: "Poppins";
  }
  input {
    padding: 3px;
    font-size: 16px;
    border-radius: 6px;
  }

}

