.fixed-span{
    font-weight: bold;
    color: #280326;
    text-transform: uppercase;
}

.dynamic-span{
    font-weight: normal;
    color: #4c4c4c;
    text-transform: uppercase;
}

.title-span{
    text-transform: uppercase;
    font-weight: normal;
    color:#673ab7
}

.fixed-span-title{
    font-weight: bold;
    color: #280326;
    text-transform: uppercase;
}

.fnt-sz-sm{
    font-size: 13px;
}