<div class="container">
  <div class="d-flex justify-content-between">
    <div class="col-6 justify-content-start">
      <label class="fs-3 fw-bold text-uppercase mb-2">Cadastro de luminária</label>
    </div>
    <div class="d-flex col-6 justify-content-end" style="align-items: flex-start">
      <button routerLink="/lamp" mat-stroked-button color="secondary">
        <i class="bx bx-left-arrow-alt"></i> Voltar
      </button>
    </div>
  </div>
  <!-- ---------------- -->
  <form [formGroup]="form">
    <mat-card class="mt-3">
      <p class="fs-6 fw-light text-muted mb-3 mt-2">
        Preencha as informaçãos abaixo para cadastrar uma nova luminária
      </p>
      <div class="group-2-fields mt-1">
        <div class="field-group">
          <mat-form-field class="w-100" appearance="standard">
            <mat-label>Nome de identificação da luminária</mat-label>
            <input matInput formControlName="name" required />
          </mat-form-field>
        </div>
      </div>
      <div class="group-2-fields mt-0">
        <div class="field-group">
          <mat-form-field class="w-100" appearance="standard">
            <mat-label>Fabricante</mat-label>
            <input matInput formControlName="fabricator" required />
          </mat-form-field>
        </div>
        <div class="field-group">
          <mat-form-field class="w-100" appearance="standard">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="modelFabricator" required />
          </mat-form-field>
        </div>
      </div>
       <div class="group-2-fields mt-0">
         <div class="field-group">
           <mat-form-field class="w-100" appearance="standard">
             <mat-label>Data de fabricação</mat-label>
             <input matInput formControlName="fabricateDate" [matDatepicker]="picker"  />
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
           </mat-form-field>
         </div>
         <div class="field-group">
           <mat-form-field class="w-100" appearance="standard">
             <mat-label>Tempo de vida útil (horas)</mat-label>
             <input matInput formControlName="lifeTime" required />
           </mat-form-field>
         </div>
       </div>
      <div class="d-flex justify-content-between">
        <button routerLink="/lamp" mat-stroked-button color="warn" class="col-3 btn-danger">
          <i class="bx bx-trash"></i> Cancelar
        </button>
        <button mat-raised-button class="col-3" color="primary" (click)="submitForm()">
          + Criar luminária
        </button>
      </div>
    </mat-card>
  </form>
</div>
